language: java

jdk:

  - oraclejdk8  
  - openjdk7

  

before_install:
 - "export DISPLAY=:99.0"
 - "sh -e /etc/init.d/xvfb start"
 - wget -P "/home/travis/build/LosIsotopos/jrpg-2017a-cliente/" https://repo1.maven.org/maven2/com/google/code/gson/gson/2.8.0/gson-2.8.0.jar
 - chmod +x gradlew
 - git clone https://github.com/LosIsotopos/jrpg-2017a-dominio.git /home/travis/build/LosIsotopos/jrpg-2017a-dominio

